CardSlotPanel {
  pointer-events: all;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  background-color: #444;
  transform: scale(1);
  align-items: center;
  justify-content: center;
  font-family: "Pixel Operator";
  
  * {
    pointer-events: none;
  }
  
  .speed {
    font-weight: 800;
    font-size: 30px;
  }

  &:hover {
    border: 1px solid yellow;
  }

  &.assigned {
    pointer-events: all;
    background-color: black;
  }
  
  &.selected {
    border: 1px solid gold;
  }
}