@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Passive is null )
{
	return;
}

<root>
	<label class="passive-name">@Passive.Name</label>
	<label class="passive-description" IsRich="@true">@Passive.Description.Replace( "\n", "<br>" )</label>
</root>

