@import "/UI/Styles/Buttons.scss";

UnitStatsPanel {
  position: absolute;
  pointer-events: all;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Pixel Operator";
  background-color: rgba(0, 0, 0, 0.9);
  
  >.main {
    width: 80%;
    height: 80%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    h1 {
      width: 100%;
      font-size: 50px;
      flex-shrink: 0;
      margin: 5px;
      align-items: center;
      justify-content: center;
    }
    
    .stats {
      width: 100%;
      height: 10%;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.99);
      
      .row {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 50px;
      }
      
      .unit-name {
        font-size: 50px;
      }
      
      .unit-level {
        font-size: 40px;
      }
    }
    
    .deck {
      width: 100%;
      height: 200px;
      background-color: rgba(255,255,255,0.05);
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
      overflow-y: scroll;
      overflow-x: hidden;
      gap: 10px;
      padding: 10px;
      
      CardPanel {
        cursor: default;
      }
    }
    
    .passives {
      width: 100%;
      background-color: rgba(255,255,255,0.05);
      flex-grow: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-direction: column;
    }
    
    .passive-ability {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      padding: 8px;
      background-color: rgba(255,255,255,0.05);
      
      .passive-name {
        font-weight: 800;
        font-size: 40px;
      }
      
      .passive-description {
        font-size: 35px;
      }
    }
    
    .button-container {
      width: 100%;
      
      .button {
        width: 100%;
      }
    }
  }
}