@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Relic is null )
{
	return;
}

<root>
	@if ( HasIcon && string.IsNullOrEmpty( Relic.Emoji ) )
	{
		<img class="relic-icon" src="@Relic.Icon" alt="Relic Icon"/>
	}
	else if ( !string.IsNullOrEmpty( Relic.Emoji ) )
	{
		<label class="relic-emoji">@(Relic.Emoji)</label>
	}
</root>
