@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Status is null )
{
	return;
}

<root>
	<img class="status-icon" src="@Status.Icon" alt="Status icon"/>
	<label class="status-name" style="color: @(Status.Color.Rgba);">@Status.Name</label>
</root>
