@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Status is null )
{
	return;
}

<root>
	@if ( !Status.Data.IsHiddenStack )
	{
		<label class="status-stack">@Status.Stack</label>
	}
	<img class="status-icon" src="@Status.Data.Icon" alt="Status icon"/>
</root>
