StatusEffectPanel {
  position: relative;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  font-family: "Pixel Operator";
  background-image: url("/materials/statuses/statusbackground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  * {
    pointer-events: none;
  }

  .status-stack {
    position: absolute;
    bottom: -5px;
    right: 0;
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 1px black;
    z-index: 4;
  }

  img {
    width: 110%;
    height: 110%;
    flex-shrink: 0;
    z-index: 1;
    /* Image stays centered because of parent flex properties */
  }
}