@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Status is null )
{
	return;
}

<root class="hidden">
	<img class="status-icon" src="@Status.Data.Icon" alt="Status icon"/>
	<div class="information">
		<label class="status-name">@Status.Data.Name</label>
		<label class="status-description">@Status.Data.Description</label>
	</div>
</root>
