{
  "Actions": [
    {
      "Name": "attack1",
      "GroupName": "Actions",
      "Title": "Mouse 1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Actions",
      "Title": "Mouse 2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "SkipDialogue",
      "GroupName": "Actions",
      "Title": "Skip Dialogue",
      "KeyboardCode": "space",
      "GamepadCode": "None"
    },
    {
      "Name": "SkipTurn",
      "GroupName": "Actions",
      "Title": "End Turn",
      "KeyboardCode": "space",
      "GamepadCode": "None"
    }
  ],
  "__guid": "fed91fda-02af-48e4-ac42-ee2ca1b76ea6",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}