@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI.Manual

<root>
	<div class="tab-selection">
		<button>T</button>
	</div>
	
	<div class="tabs" @ref="_tabs">
		<div class="tab">
			<div class="tab-title"></div>
			<div>
				
			</div>
		</div>
		<div class="tab">
			<div class="tab-title"></div>
			<div>

			</div>
		</div>
	</div>
	
	<div class="button-container">
		<button onclick="@Close">Close</button>
	</div>
</root>
