@inherits PanelSingleton<BattleHud>
@namespace CardGame.UI

@if ( !BattleManager.IsValid() )
{
	return;
}

<root>
	<div class="header">
		@if ( BattleManager.State == TurnState.Start )
		{
			<button class="@(BattleManager.CanEndTurn ? "" : "disabled")" onclick="@EndTurn">End Turn</button>
		}
		
		<div class="turn">
			<label>Turn @BattleManager.Turn</label>
		</div>
		
		<RelicContainer></RelicContainer>
		<div class="card-showcase" @ref="_cardShowcase"></div>
	</div>
	
	<HandPanel class="hidden"></HandPanel>
	<BattleEndPanel @ref="BattleEndPanel"></BattleEndPanel>
	<BattleStartPanel @ref="BattleStartPanel"></BattleStartPanel>
	<TurnStartPanel @ref="TurnStartPanel"></TurnStartPanel>
</root>
