@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

<root class="hidden">
	<div class="main">
		<div class="header">
			@if ( IsWin )
			{
				<div class="victory section">
					<h1 class="result title victory">Victory</h1>
				</div>
			}
			else
			{
				<div class="defeat section">
					<h1 class="result title defeat">Defeat</h1>
				</div>
			}
		</div>

		<div class="rewards-section">
			<RewardsPanel Rewards="@RewardData" @ref="Rewards"></RewardsPanel>
		</div>

		<div class="button-container">
			<button onclick="@Close">Continue</button>
		</div>
	</div>
</root>
